/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
  }

  .well {
    padding: 5px 0px 5px 10px;
    background-color:white;
    margin-left: 400px; 
  }

  /* change background color of panel in jquery element */
  .panel {
    background-color:black;
  }

  #panel,
  #flip {
    padding: 10px;
    text-align: center;
    background-color: black;
    border: solid 1px #0000FF;
    color: #FFFFFF;
  }
  #panel {
    padding: 50px;
    display: none;
  }
  * {box-sizing:border-box}

  