/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
#map,
body,
html {
  height: 100%;
  width: 100%;
  margin: auto;
    }

  .well {
    padding: 5px 0px 5px 10px;
    background-color:white;
    margin-left: 400px; 
  }

  /* change background color of panel in jquery element */
  .panel {
    background-color:black;
  }

  #panel,
  #flip {
    padding: 10px;
    text-align: center;
    background-color: black;
    border: solid 1px #0000FF;
    color: #FFFFFF;
  }
  #panel {
    padding: 50px;
    display: none;
  }
  
  #marquee {
    padding: 50 px;
    size: 100px;
  }

  #adam {
    background-color: rgb(36, 6, 48);
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 1200px;
    height: 150px;
    }

  .item, img{
      height: 100% !important;
      width:  100% !important;
      border: 5px solid white;
    }

  .well {
    background-color: rgb(36, 6, 48);
    color: white;
  }

